extends layout.pug

block content
  h2 Add New Product

  form(action='/admin/products/add', method='POST')
    label(for='name') Product Name:
    input(type='text', id='name', name='name', required)

    label(for='category') Category:
    input(type='text', id='category', name='category', required)

    label(for='price') Price:
    input(type='number', id='price', name='price', step='0.01', min='0', required)

    label(for='stock') Stock:
    input(type='number', id='stock', name='stock', min='0', required)

    label(for='description') Description:
    textarea(id='description', name='description', rows='4')

    label(for='imageUrl') Image URL:
    input(type='text', id='imageUrl', name='imageUrl')

    button(type='submit') Add Product
    a(href='/admin/products', class='button-link cancel-button') Cancel